
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Vestido</h4>
      </div>
      <div class="modal-body">
        <div id="modal-image" class="modal-image-container">
          
        </div>
        <p> . </p>
        <p> Descripcion de la imagen interesante y e first issue of The New Yorker was published in February of 1925, ninety years ago this month. In celebration of our anniversary, David Remnick, the magazine’s editor.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>