
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="page-title border">
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="page-title border">
				</div>
			</div>
		</div>
	</div>

	<div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }'>
	  <div class="item"> <%= image_tag("test.png") %> </div>
	  <div class="item w2"> <%= image_tag("test.png") %></div>
	  <div class="item"> <%= image_tag("test.png") %></div>
	  <div class="item"> <%= image_tag("test.png") %></div>
	</div>

	<div class="content">
	</div>