

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="page-title border border-radius">
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="page-title border border-radius">
				</div>
			</div>
		</div>
	</div>

		<div class="container grid-image-container">
			<div class ="row border">
				<div id='container' class='border'>
					<div class="grid-image w2"> <p> 1 </p> </div>
					<div class="grid-image w2"> <p> 2 </p> </div>
					<div class="grid-image w2"> <p> 3 </p> </div>
					<div class="grid-image w2"> <p> 4 </p> </div>
					<div class="grid-image w2"> <p> 5 </p> </div>
					<div class="grid-image w2"> <p> 6 </p> </div>
					<div class="grid-image wh"> <p> 7 </p> </div>
					<div class="grid-image h2"> <p> 8 </p> </div>
					<div class="grid-image wh"> <p> 9 </p> </div>
					<div class="grid-image h2"> <p> 10 </p> </div>
					<div class="grid-image h2"> <p> 11 </p> </div>
					<div class="grid-image wh"> <p> 12 </p> </div>
					<div class="grid-image wh"> <p> 13 </p> </div>
					<div class="grid-image h2"> <p> 14 </p> </div>
					<div class="grid-image wh"> <p> 15 </p> </div>
					<div class="grid-image h2"> <p> 16 </p> </div>
				</div>
			</div>
		</div>




	<div class="content">
	</div>