
	<div id="hero-container" class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="hero">
					<%= image_tag("hero-template-04.png") %>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="hero">
					<%= image_tag("hero-template-03.png") %>
				</div>
			</div>
		</div>
	</div>

		<div class="container grid-image-container" style="margin-top: 20px">
			<div classd="row">
				<div id='container' >
					<% @image_names.each do |image_name| %>
						<%= display_image(image_name) %>
					<% end %>
				</div>
			</div>
		</div>




	<div class="content">


		<%= render 'modal' %>

	</div>