

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div id= "home-image-container" class="home-image">
				<%= image_tag("home/home-page-content-02.png") %>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="home-image">
				<%= image_tag("home/home-page-content-04.png") %>
			</div>
		</div>
	</div>
</div>

<div class="content">
</div>

