
#hero-container {
	border-bottom: 8px solid black;
	border-top: 8px solid black;
	padding-top: 20px;
	padding-bottom: 30px;
}

.hero {
	overflow:hidden;
	font-family: serif;
	font-size: 125%;
	text-align: center;
}

.hero img {
  width: 100%;
}

.hero-text-holder {
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;

}

.hero-text {
	display: block;
	margin-top: 90px;
}

.hero-margin {
	margin-top: 80px;
}

.border-radius {
	border-radius: 5px;
}
