


.home-image-wrapper {
	position: relative;
  padding-bottom: 52.8%; 
  height: 0;
  width: 100%;
  margin-top: -1px;
  margin-left: -1px;
}

#home-image-1 {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: asset-url("home/home-page-content-04.png", image);
  background-size: cover;
}

#home-image-2 {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: asset-url("home/home-page-content-01.png", image);
  background-size: cover;
}

.home-image-text {
  font-family: 'Montserrat';
  position: absolute;
  width: 155px;
  height: 32px;
  background-color: black;
  color: white;

  p {
    text-align: center;
    font-size: 17px;
    margin-top: 3px;
  }
}

#home-image-1-text {
  top: 110px;
  left: 850px;
}

#home-image-2-text {
  top: 90px;
  left: 190px;
}
