


.home-image-wrapper {
	position: relative;
  padding-bottom: 52.8%; 
  height: 0;
  width: 100%;
  margin-top: -1px;
  margin-left: -1px;
}

#home-image-1 {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("home/home-page-content-02.png");
  background-size: cover;
}

#home-image-1:hover {
	background-image: url("home/home-page-content-01.png");
}

#home-image-2 {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("home/home-page-content-04.png");
  background-size: cover;
}

#home-image-2:hover {
	background-image: url("home/home-page-content-03.png");
}