
#container  {
	margin: auto auto auto auto;
}

.grid-image {
	border: 2px solid black;
	width: 223px;
	overflow: hidden;
	float: left;
	margin: 1% auto;
	display: inline-block;
}

.grid-image img {
}

body {

}