// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit

#section-edit {
	width: 1200px;
	padding-bottom: 100%;
}

.mini-image-container {
	float: left;
	width: 150px;
	height: 318px;
	margin-left: 15px;
	margin-top: 15px
}

.mini-image-container img {
	width: 100%;
}