// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit

#section-edit {
	width: 1200px;
	padding-bottom: 100%;
}

.mini-image-container {
	float: left;
	width: 150px;
	height: 318px;
	margin-left: 15px;
	margin-top: 15px
}

.mini-image-container img {
	width: 100%;
}

.edit-image-overlay {
	position: absolute;
	top: 0;
	left: 5px;
	color: white;
	background-color: black;
	padding: 3px 12px 3px 12px;
}

.edit-image-overlay-link {
	position: absolute;
	bottom: 0;
	left: 5px;
	color: white;
	background-color: black;
	padding: 3px 12px 3px 12px;
}

.edit-image-overlay-link > a:link, 
.edit-image-overlay-link > a:active, 
.edit-image-overlay-link > a:visited, 
.edit-image-overlay-link > a:hover {
	color: white !important;
}

.edit-image {
	cursor: default !important;
}