<li class="dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> <a> BOUTIQUE </a> </li>
							<%= render 'layouts/nav_boutique_dropdown'  %>
<ul class="dropdown-menu" id="boutique-dropdown" role="menu" aria-labelledby="dropdownMenu1">
  <li role="presentation"><%= link_to("BOUTIQUE", boutique_pages_path, method: :get ) %></li>
  <li role="presentation"><%= link_to("JUDY HAZBUN", boutique_pages_path, method: :get ) %></li>
</ul>