
<div class="container" >
	<div class="header-logo" >
		<%= image_tag("halloween-logo2.svg") %>
	</div>


	<nav id="nav" class="navbar navbar-default" style="">
		<div id="for-border" class="">
		  <div class="container-fluid" style="padding-bottom: 15px; padding-top: 3px">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"> </span>
		        <span class="icon-bar"> </span>
		        <span class="icon-bar"> </span>
		      </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav ">
		        <li class=""><a href="#"> BOUTIQUE </a></li>
		        <li class=""><a href="#"> HAZ </a></li>
		        <li class=""><a href="#"> NOVIAS </a></li>
		        <li class=""><a href="#"> JQMP </a></li>
		        <li class=""><a href="#"> JUDY </a></li>
		      </ul>
		      
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		 </div>
	</nav>



</div>